$humancolor: #654d10;
$colorVika: rgba(21, 21, 21, 0.945);
$colorMaxim: rgba(21, 21, 21, 0.945);
$colorNatasha: rgba(21, 21, 21, 0.945);

%lips {
  position: absolute;
  top: 10px;
  left: 23px;
  width: 15px;
  height: 15px;
}

%hair {
  position: relative;
  top: -45px;
  left: -15px;
  width: 90px;
  height: 90px;
}

%girlsPosition {
  position: relative;
  width: 50px;
  height: 90px;
  top: 30px;
  left: 150px;
}

%photo {
  height: 120px;
  width: 180px;
  border-radius: 10px;
}

%ballsPosition {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.human {
  position: absolute;
  top: 24px;
  width: 50px;
  height: 50px;
  &:before {
    content: '';
    position: absolute;
    top: -24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    clip: rect(0, 50px, 25px, 0);
  }
  &:after {
    content: '';
    position: absolute;
    top: 24px;
    width: 50px;
    height: 25px;
    border-radius: 50%;
  }
}

.legs {
  position: absolute;
  width: 10px;
  top: 70px;
  &:before {
    content: '';
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-top: 70px solid $humancolor;
    clip: rect(0px, 10px, 15px, 0);
  }
  &:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 2px;
    height: 8px;
    width: 8px;
    background: rgb(45, 44, 44);
    border-radius: 50%;
    clip: rect(3px, 10px, 10px, 0);
  }
  &.left {
    left: 10px;
    animation: left-foot 1s linear infinite;
  }
  &.right {
    right: 10px;
    animation: right-foot 1s linear infinite;
  }
}

.arms {
  position: absolute;
  top: 40px;
  width: 40px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 40px;
    height: 100px;
    border: 5px solid $humancolor;
    border-top-width: 10px;
    border-radius: 50%;
    box-sizing: border-box;
  }
  &:after {
    content: '';
    position: absolute;
    top: 15px;
    width: 6px;
    height: 6px;
    background: $humancolor;
    border-radius: 50%;
    clip: rect(3px, 6px, 6px, 0);
  }
  &.left {
    left: -17px;
    animation: left-hand 1s linear infinite;
    &:before {
      clip: rect(0, 17px, 20px, 0);
    }
    &:after {
      left: 4px;
    }
  }
  &.right {
    right: -15px;
    animation: right-hand 1s linear infinite;
    &:before {
      clip: rect(0, 40px, 20px, 22px);
    }
    &:after {
      right: 4px;
    }
  }
}

.eyes {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background: #1c6c76;
  border-radius: 50%;
  animation: twinkle infinite 3s;
  &.left {
    left: 15px;
  }
  &.right {
    left: 35px;
  }
}

.bubble {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  z-index: 200;
}

.smallBubble {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  z-index: 200;
}

#Natasha {
  @extend %girlsPosition;
  animation: walk-Natasha 5s linear infinite;
  .human {
    background: $colorNatasha;
    height: 50px;
    z-index: 100;
    &:before {
      background: $colorNatasha;
    }
    &:after {
      content: '';
      background: $colorNatasha;
    }
    .hat {
      @extend %hair;
      background: url(./icons/hat-Natasha.png) no-repeat center;
    }
    .mouse {
      @extend %lips;
      background: url(./icons/lips.png) no-repeat center;
    }
  }
}

#Maxim {
  position: relative;
  width: 50px;
  height: 90px;
  top: 30px;
  left: 150px;
  animation: walk-Natasha 3s linear infinite;
  .human {
    background: $colorMaxim;
    height: 40px;
    &:before {
      background: $colorMaxim;
    }
    &:after {
      border: 20px solid transparent;
      border-top: 10px solid rgba(21, 21, 21, 0.945);
      content: '';
      position: absolute;
      top: 39px;
      width: 50px;
      height: 25px;
      border-radius: 10%;
      z-index: 100;
    }
    .hat {
      position: relative;
      top: -47px;
      left: 0px;
      width: 50px;
      height: 50px;
      background: url(./icons/hat-Maxim.png) no-repeat center;
    }
    .mouse {
      position: absolute;
      top: 10px;
      left: 23px;
      width: 15px;
      height: 10px;
      box-sizing: border-box;
      clip: rect(5px, 15px, 10px, 0);
      border: 5px solid rgb(212, 70, 70);
      border-radius: 50%;
    }
  }
}

#Victoriia {
  @extend %girlsPosition;
  animation: walk-Vika 5s linear infinite;
  .human {
    background: $colorVika;
    height: 50px;
    z-index: 100;
    &:before {
      background: $colorVika;
    }
    &:after {
      content: '';
      background: $colorVika;
    }
    .hat {
      @extend %hair;
      background: url(./icons/hat-Vika.png) no-repeat center;
    }
    .mouse {
      @extend %lips;
      background: url(./icons/lips.png) no-repeat center;
    }
  }
}

.Natasha {
  @extend %photo;
  background: url(./icons/natasha.png) center no-repeat;
}

.Maxim {
  @extend %photo;
  background: url(./icons/maxim.jpg) center no-repeat;
}

.Victoriia {
  @extend %photo;
  background: url(./icons/vika.png) center no-repeat;
}

@keyframes walk-Natasha {
  25% {
    transform: translate3d(20px, 0, 0);
  }
  50% {
    transform: translate3d(20px, 0, 0);
  }
  75% {
    transform: translate3d(-20px, 0, 0);
  }
}

@keyframes walk-Vika {
  25% {
    transform: translate3d(-20px, 0, 0);
  }
  50% {
    transform: translate3d(-20px, 0, 0);
  }
  75% {
    transform: translate3d(20px, 0, 0);
  }
}

@keyframes twinkle {
  90% {
    transform: scale3d(1, 1, 1);
  }
  98% {
    transform: scale3d(1, 0.2, 1);
  }
}

@keyframes right-hand {
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

@keyframes left-hand {
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes left-foot {
  25% {
    transform: rotate(35deg);
  }
  75% {
    transform: rotate(-35deg);
  }
}

@keyframes right-foot {
  25% {
    transform: rotate(-35deg);
  }
  75% {
    transform: rotate(35deg);
  }
}

//balls

#rss-school {
  position: relative;
  width: 50px;
  height: 90px;
  top: 0;
  left: 0;
  animation: rss-School 3s linear infinite;
  .human {
    background: black;
    height: 40px;
    &:before {
      background: black;
    }
    &:after {
      border: 20px solid transparent;
      border-top: 10px solid black;
      content: '';
      position: absolute;
      top: 39px;
      width: 50px;
      height: 25px;
      border-radius: 10%;
      z-index: 100;
    }
    .mouse {
      position: absolute;
      top: 10px;
      left: 23px;
      width: 15px;
      height: 10px;
      box-sizing: border-box;
      clip: rect(5px, 15px, 10px, 0);
      border: 5px solid rgb(212, 70, 70);
      border-radius: 50%;
    }
  }
}

@keyframes rss-School {
  25% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, -10px, 0);
  }
  40% {
    transform: translate3d(0, -25px, 0);
  }
  65% {
    transform: translate3d(0, -35px, 0);
  }
}

@keyframes boll {
  0% {
    transform: translate3d(0, 0, -2px);
  }
  25% {
    transform: translate3d(-5px, -5px, 0);
  }
  50% {
    transform: translate3d(-2px, -12px, 0);
  }
  70% {
    transform: translate3d(0, -22px, -5px);
  }
}

.gitLinkNatasha {
  @extend %ballsPosition;
  animation: boll 6s linear infinite;
  .gitHub {
    width: 65px;
    height: 65px;
    background: url(./icons/github-65.png) no-repeat center;
  }
  &:after {
    position: absolute;
    top: 54px;
    left: 58px;
    content: '';
    width: 0;
    height: 125px;
    border-left: 2px solid black;
    transform: rotate(-25deg);
  }
  &:before {
    content: '';
    position: absolute;
    top: 52px;
    left: 25px;
    border: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.87);
  }
}

.gitLinkMaxim {
  @extend %ballsPosition;
  top: 20px;
  animation: boll 7s linear infinite;
  .gitHub {
    width: 55px;
    height: 55px;
    background: url(./icons/github-55.png) no-repeat center;
  }
  &:after {
    position: absolute;
    top: 50px;
    content: '';
    width: 0;
    height: 97px;
    border-left: 2px solid black;
  }
  &:before {
    content: '';
    position: absolute;
    top: 43px;
    left: 22px;
    border: 6px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, 0.87);
  }
}

.gitLinkVika {
  @extend %ballsPosition;
  animation: boll 5s linear infinite;
  .gitHub {
    width: 65px;
    height: 65px;
    background: url(./icons/github-65.png) no-repeat center;
  }
  &:after {
    position: absolute;
    top: 52px;
    right: 59px;
    content: '';
    width: 0;
    height: 120px;
    border-left: 2px solid black;
    transform: rotate(28deg);
    z-index: 1;
  }
  &:before {
    content: '';
    position: absolute;
    top: 49px;
    left: 24px;
    border: 8px solid transparent;
    border-bottom: 8px solid rgba(0, 0, 0, 0.87);
  }
}

.rss {
  position: relative;
  top: 5px;
  width: 100px;
  height: 100px;
  background: url(./icons/bag.svg) no-repeat center;
  z-index: 3;
  &:before {
    content: '';
    position: absolute;
    display: flex;
    top: 33px;
    left: 40px;
    width: 20px;
    height: 20px;
    z-index: 3;
    background: white;
  }
  &:after {
    position: absolute;
    display: flex;
    top: 33px;
    left: 20px;
    content: '';
    width: 63%;
    height: 63%;
    background: url(./icons/rs_school_js.svg) no-repeat center;
    z-index: 3;
  }
}

//responsib

#black {
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.905);
  position: relative;
  border-radius: 10px;
  background: rgb(50, 49, 46);
  box-shadow: 0 -200px 100px -120px rgb(63, 61, 61) inset;
  border-radius: 30px;
  border: 10px solid white;
  animation: background 8s infinite alternate;
}

@keyframes background {
  50% {
    background: rgb(103, 119, 125);
    box-shadow: 0 -200px 100px -100px rgb(16, 17, 16) inset;
  }
}

.cards {
}
