html {
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e9ecef;
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
