.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  // .header__logo

  &__logo {
    flex-basis: 250px;
  }

  // .header__menu

  &__menu {
    flex-basis: 250px;
  }

  // .header__user

  &__user {
    flex-basis: 250px;
  }
}

.logo {
  // .logo__link

  &__link {
  }

  &__title {
    font-size: 30px;
  }
}

.menu {
  // .menu__body

  &__body {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
  }
}

.user {
  // .user__body

  &__body {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  // .user__item

  &__item {
  }

  // .user__link

  &__link {
  }
}

.header__link {
  &.active-link {
    color: green;
  }
}
